.events-container {
  display: flex;
  flex-direction: row;

  // min-width: 100vw;
  min-height: 70px;
  background-color: #2FC13B;
  overflow-x: scroll;
}

:host:not(:last-child) {
  margin-bottom: .5em;
}