.item {
    display: flex;
    flex-direction: column;

    margin-right: 10px;
    padding: 5px;

    // min-height: 20px;
    height: 70px;
    background-color: #EFCD22;
    border: 1px black solid;
}

// #68D06A